.top{
    width:100%;
    height:12vh;
    background-color:#d8d8d8;
    position:relative;
}
.menu{
    background-color:#4a90e2;
    height: 70px;
    width:60px;
    position:absolute;
    top:6px;
    left:15px;
    

}

body{
    margin:0;
    padding:0;
    border:0;
}
.text-container{
    height:24.5vh;
  
}
.text{

    margin: auto;
    width:90%;
    margin-top:4%;
    padding:10px;
    font-size:15pt;

}
.blue{
    width:100%;
    height:14.5vh;
    background-color:#4a90e2;
}
.green{
    width:100%;
    height:14.5vh;
    background-color: #50e3c2;
}
.lightgreen{
    width:100%;
    height:14.5vh;
    background-color:#b8e986;
}

.yellow{
    width:100%;
    height:14.5vh;
    background-color:#f8e71c;
}